<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body >
    <style>
        body{
            text-align: center;
        }
    </style>
    <form action="register" method="post">
        {% csrf_token %}
        <h2>Register form</h2>
        <input type="text" name="first_name" placeholder="first_name" id=""><br>
        <input type="text" name="last_name" placeholder="last_name" id=""><br>
        <input type="text" name="username" placeholder="username" id=""><br>
        <input type="email" name="email" placeholder="Email" id=""><br>
        <input type="text" name="password1" placeholder="Password" id=""><br>
        <input type="text" name="password2" placeholder="Confirm Password" id=""><br><br>
        <input type="submit" value="submit">

    </form>
    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
</body>
</html>